// Fonts
$fuentetitulos: 'Oswald';
$fuenteprincipal: 'Open Sans';




// Colores
$colornav: #1597E5;
$blanco: #E6E6E6;
$blancomasoscuro: #FEF5ED;
$grisazulado: #90AACB;
$azulmarino: #091353;
$negroclaro: #212121;
$verdeagua: #96C7C1;
$azulclaro: #11324D;
